<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=2"UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../Store_page/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cardo:wght@400;700&display=swap" rel="stylesheet">
    <title>RITTER & PARTNERS</title>
</head>
<body>

<div class="head-wrapper">
    <header class="header">
        <div class="header__box">
            <div class="container">
                <div class="header__top">
                    <div class="header__link"><a
                            href="file:///Users/germanritter/Desktop/Store_demo/Store_page/Store.html"
                            class="link__store">Store</a></div>
                    <div class="header__logo"><img class="logo__img" src="../Store_page/Images/logo.png" alt="Ritter">
                    </div>
                    <div class="header__logout">
                        <a href="#" class="logout__link">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom"><h3 class="header__bottom-text">Ritter & Partners corp.</h3></div>
    </header>


    <div class="main">
        <div class="container">
            <div class="login__box">
                <h1 class="login__tittle">WELCOME</h1>
                <div class="form__box">
                    <form action="#" class="login-form">
                        <label>
                            <input type="email" class="login-input email" placeholder="Your email">
                        </label>
                        <label class="login__password-box">
                            <input type="password" class="login-input password" placeholder="Your password">
                            <img src="Images/bulb.png" alt="bulb" class="password-img">
                        </label>
                    </form>
                <p class="registration__link">Tap here for Registration</p>
                </div>
                <div class="login__btn-box">
                    <button class="login__btn" type="submit">Sign In</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer__login">
        <div class="footer__top"><h3 class="header__bottom-text">Ritter & Partners corp.</h3></div>
        <div class="footer__box">
            <div class="container">
                <div class="footer__bottom">
                    <div class="header__link footer link">
                        <a href="tel:+79999009090" class="link__store">+7(999)-900-90-90</a>
                    </div>
                    <div class="header__logo"><img class="logo__img footer__img" src="../Store_page/Images/logo.png"
                                                   alt="Ritter"></div>
                    <div class=" footer__link header__logout">
                        <a href="mailto:Ritter&Partners@mail.com" class="logout__link">Ritter&Partners@mail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="login.js"></script>
</body>
</html>