<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=2"UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../Store_page/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cardo:wght@400;700&display=swap" rel="stylesheet">
    <title>RITTER & PARTNERS</title>
</head>
<body>

<div class="head-wrapper">
    <header class="header">
        <div class="header__box">
            <div class="container">
                <div class="header__top">
                    <div class="header__link"><a href="file:///Users/germanritter/Desktop/Store_demo/Store_page/Store.html" class="link__store">Store</a></div>
                    <div class="header__logo"><img class="logo__img" src="../Store_page/Images/logo.png" alt="Ritter"></div>
                    <div class="header__logout">
                        <a href="#" class="logout__link">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom"><h3 class="header__bottom-text">Ritter & Partners corp.</h3></div>
    </header>


    <div class="main">
        <div class="card">
            <div class="container">
                <div class="card__top">
                    <div class="card__brand">
                        <h1 class="card-tittle">Lamborghini</h1>
                        <h3 class="card__brand-description">Aventador</h3>
                    </div>
                    <div class="card__slider-block">
                        <div class="card__slider-box">
                            <div class="card__slider-wrapper">
                                <div class="card__slider-container">
                                    <div class="card__slider-track">
                                        <img class="card__slider-item" src="Images/Aventador/aventador2.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador1.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador3.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador4.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador5.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador6.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador7.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador8.jpeg" alt="car">
                                        <img class="card__slider-item" src="Images/Aventador/aventador9.jpeg" alt="car">
                                    </div>
                                </div>
                            </div>
                            <button class="btn card__btn-prev"> <</button>
                            <button class="btn card__btn-next"> ></button>
                        </div>
                    </div>
                </div>


                <div class="card__middle">
                    <h1 class="card__params card-tittle">Parameters</h1>
                    <div class="card__params__box">
                        <div class="card__item-box">
                            <div class="card__params-item">
                                <img class="card__params-img" src="Images/icons/calendar.png" alt="icon">
                                <h4 class="card__params-tittle">Year of issue:</h4>
                                <p class="card__params-description">2013.</p>
                            </div>
                            <div class="card__params-item">
                                <img class="card__params-img" src="Images/icons/sedan.png" alt="icon">
                                <h4 class="card__params-tittle">Body type:</h4>
                                <p class="card__params-description">Coupe.</p>
                            </div>
                            <div class="card__params-item">
                                <img class="card__params-img" src="Images/icons/car-suspension.png" alt="icon">
                                <h4 class="card__params-tittle">Drive:</h4>
                                <p class="card__params-description">AWD.</p>
                            </div>
                            <div class="card__params-item">
                                <img class="card__params-img" src="Images/icons/car-engine.png" alt="icon">
                                <h4 class="card__params-tittle">Engine capacity:</h4>
                                <p class="card__params-description">6498.</p>
                            </div>
                            <div class="card__params-item">
                                <img class="card__params-img" src="Images/icons/steering-wheel.png" alt="icon">
                                <h4 class="card__params-tittle">Steering wheel:</h4>
                                <p class="card__params-description">Left.</p>
                            </div>
                        </div>
                        <div class="card__about-box">
                            <div class="about__tittle-box">
                                <h1 class="about__tittle-text">A</h1>
                                <h1 class="about__tittle-text">B</h1>
                                <h1 class="about__tittle-text">O</h1>
                                <h1 class="about__tittle-text">U</h1>
                                <h1 class="about__tittle-text">T</h1>
                            </div>
                            <div class="about__description-box">
                                <h1 class="card__about-tittle">More</h1>
                                <p class="card__about-description">
                                    The car is in perfect external and technical condition.
                                    Timely maintenance of the car, all MOT according to the regulations.
                                    Factory paint finish.
                                    PTS Original, 2 keys.</p>
                            </div>
                        </div>
                        <div class="card__color-box">
                            <div class="about__tittle-box">
                                <h1 class="about__tittle-text">C</h1>
                                <h1 class="about__tittle-text">O</h1>
                                <h1 class="about__tittle-text">L</h1>
                                <h1 class="about__tittle-text">O</h1>
                                <h1 class="about__tittle-text">R</h1>
                            </div>
                            <img class="color__image" src="Images/Aventador/color.png" alt="color">
                        </div>
                    </div>
                </div>


                <div class="card__bottom">
                    <div class="container">
                        <div class="card__history-box">
                            <h1 class="card__history">History</h1>
                            <div class="card__history-block">
                                <div class="card__history-slider">
                                    <div class="history__slider-wrapper">
                                        <div class="history__slider-container">
                                            <div class="history__slider-track">
                                                <img src="Images/Aventador/factory1.jpg" alt="" class="history__slider-item">
                                                <img src="Images/Aventador/factory2.jpg" alt="" class="history__slider-item">
                                                <img src="Images/Aventador/factory3.jpg" alt="" class="history__slider-item">
                                                <img src="Images/Aventador/factory4.jpg" alt="" class="history__slider-item">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn history__btn-prev"> <</button>
                                    <button class="btn history__btn-next"> ></button>
                                    <div class="card__order-box">
                                        <h1 class="card-tittle card__history-tittle">Lamborghini</h1>
                                        <p class="card__history-text">Automobili Lamborghini S.p.A. is an Italian manufacturer of luxury
                                            sports cars and SUVs based in Sant'Agata Bolognese.
                                            The company is owned by the Volkswagen Group through its subsidiary Audi.Ferruccio
                                            Lamborghini (1916–1993), an Italian manufacturing magnate, founded Automobili Ferruccio
                                            Lamborghini S.p.A. in 1963 to compete with Ferrari. The company was noted for using a rear
                                            mid-engine, rear-wheel drive layout. Lamborghini grew rapidly during its first decade, but
                                            sales plunged in the wake of the 1973 worldwide financial downturn and the oil crisis. The
                                            firm's ownership changed three times after 1973, including a bankruptcy in 1978. American
                                            Chrysler Corporation took control of Lamborghini in 1987 and sold it to Malaysian investment
                                            group Mycom Setdco and Indonesian group V'Power Corporation in 1994. In 1998, Mycom Setdco
                                            and V'Power sold Lamborghini to the Volkswagen Group where it was placed under the control
                                            of the group's Audi division.</p>
                                        <a href="tel:+79999009090" class="card__order-btn">ORDER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="footer__top"><h3 class="header__bottom-text">Ritter & Partners corp.</h3></div>
        <div class="footer__box">
            <div class="container">
                <div class="footer__bottom">
                    <div class="header__link footer link">
                        <a href="tel:+79999009090" class="link__store">+7(999)-900-90-90</a>
                    </div>
                    <div class="header__logo"><img class="logo__img footer__img" src="../Store_page/Images/logo.png"
                                                   alt="Ritter"></div>
                    <div class=" footer__link header__logout">
                        <a href="mailto:Retter&Partners@mail.com" class="logout__link">Retter&Partners@mail.com</a></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="../Store_page/shopTopSlider.js"></script>
</body>
</html>