.storeScrollerBox {
    overflow: auto;
    border: 8px solid bisque;
    max-height: 800px;
    max-width: 1000px;
    padding: 30px;
    border-radius: 35px 35px 350px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
min-height: 290px;
    transition: all .4s;
}
.storeScrollerBox::-webkit-scrollbar {
    width: 0;
}