html,
body {
    height: 100%;
}
.head-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.admin__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin__item {
    text-align: center;
}
.admin__item-box {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid bisque;
    background-color: black;
    border-radius: 35px 35px 10px 10px;
}
.admin__image {
    margin: -1px;
    display: block;
    height: 300px;
    border-radius: 30px 30px 5px 5px;
}
.admin__image-type {
    padding: 50px;
    background-color: bisque;
}
.admin__image-brand {
    padding: 50px;
    background-color: bisque;
}
.admin__button {
    height: 70px;
    width: 100%;
    border: 4px solid bisque;
    border-radius: 10px 10px 100px 100px;
    background-color: blueviolet;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.admin__button-img {
    height: 40px;
    display: block;
}
.footer__login {
    margin-top: 75px;
}
