a {
    text-decoration: none;
    color: inherit;
}
.container {
    padding: 0;
    margin: 0 auto;
    max-width: 1300px;
}
.header {
    height: 220px;
}

.headerBox {
    background-color: rgba(0, 0, 0);
    border-bottom: 4px solid bisque;
    border-left: 2px solid bisque;
    border-right: 2px solid bisque;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    z-index: 2;
}
.headerTop {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 60px;
}
.logoImg {
    height: 90px;
    border: 2px solid bisque;
    padding: 8px;
    border-radius: 25px;
    z-index: 1;
    display: block;
    margin-left: 80px;
    transition: all 1s;

}
.headerLogoBox {
    display: flex;
    justify-content: space-between;
    transition: all 1s;
    width: 250px;
    position: relative;
}

.headerLink {
    font-weight: bold;
    transition: all .2s ease-in-out;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.headerLink:hover {
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color: bisque;
    font-weight: bold;
    border-radius: 15px;

}

.headerBottom {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    max-width: 250px;
    max-height: 40px;
    background-color: bisque;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.headerBottomText {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.headerBottomAdmin {
    width: 90px;
    z-index: 0;
    min-height: 90px;
    border-radius: 25px;
    border-bottom: 2px solid bisque;
    border-top: 2px solid bisque;
    border-right: 2px solid bisque;
    background-color: blueviolet;
    color: bisque;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 80px;
    opacity: 0%;
    transition: all 1s;
}
.headerBottomAdminText{
    margin-left: auto;
    margin-right: 50px;
    font-size: 21px;
    opacity: 0;
    transition: all .5s;
}
.headerBottomAdminText:hover{
    transform: scale(1.2);
}